h1{color: black; margin-left: 10px}

body{background-color: #808080}
/* *{border: solid} */

.header{
background-color: green;
display: flex;
justify-content: space-between;
}

.title{
    text-align: center;
}

.grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

.menu a{ 
    margin-left: 7px;
    padding-right: 7px;
}


p, h2{text-align: center}

a:link{
    color: #FFFFFF;
}

a:visited{
    color: #FFFFFF;
}

.item{
    position: relative;
}